@model MyRestaurant.Models.FoodItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FoodItem</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(m => m.Description)

                @*<input type="text" asp-for="Description" class="form-control text-black-50" />*@
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" name="files" multiple asp-for="Image" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select id="CategoryId" asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SubCategoryId" class="control-label"></label>
                <select asp-for="SubCategoryId" class="form-control" asp-items="ViewBag.SubCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-3 offset-1">
        <img src="@Model.Image" style="width:200px" alt="Alternate Text" />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {


    <script type="text/javascript">
            $(document).ready(function () {

                $('#CategoryId').change(function () {
                    getSubCategory();
                });
            });



            function getSubCategory() {
                var url = '@Url.Content("~/")' + "Manager/FoodItems/GetSubCategory";
                var ddlsoruce = '#CategoryId';
                $.getJSON(url, { id: $(ddlsoruce).val() }, function (data) {
                    var items = '';
                    $('#SubCategoryId').empty();
                    $.each(data, function (i, subcategory) {
                        items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                    });

                    $('#SubCategoryId').html(items);
                })
            }

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}